<div class="container">
    <section class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-5 col-left">
            <table>
                {{#each burgers}}
                {{#unless devoured}}
                <tr>
                    <td>{{id}} {{burger_name}}</td>
                    <td><button id='devourBurger' type="button" class="btn bg-gradient-secondary btn-primary btn-sm"
                            data-id='{{id}}'>Devour Me!</button></td>
                </tr>
                {{/unless}}
                {{/each}}
            </table>
        </div>
        <div class="col-sm-5 col-right">
            <table>
                {{#each burgers}}
                {{#if devoured}}
                <tr>
                    <td>{{id}} {{burger_name}}</td>
                    <td><button id='removeBurger' type="button" class="btn bg-gradient-secondary btn-primary btn-sm"
                            data-id='{{id}}'>Remove Me!</button></td>
                </tr>
                {{/if}}
                {{/each}}
            </table>
        </div>
        <div class="col-sm-1"></div>
    </section>

    <section>
        <form>
            <div class="row">
                <div class="col"></div>
                <div class="col-md-6">
                    <div class="form-group">
                        <textarea name="burger-name" id="addBurger" cols="40" rows="2"
                            placeholder="Add your burger"></textarea>
                    </div>
                    <button id='submitBurger' type="button" class="btn bg-gradient-secondary btn-primary btn-md">Add
                        Me!</button>
                </div>
                <div class="col"></div>
            </div>
        </form>
    </section>
</div>